.list-details img{
    width: 200px;
    transition: 0.6s;
    cursor: pointer;
}
.list-details img:hover{
   transform:scale(1.1)
}

.list-item{
    width: 200px;
    margin:20px auto;
}
.list-tag{
    color: rgba(0, 0, 0, 0.616);
    margin-top: 10px;
}
.list-tag h2{
    font-size: 17px;
}
.list-tag p{
    margin-top:7px;
}
.list-tag h3{
    color: gray;
    font-size: 17px;
    margin-top: 5px;
}