@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inconsolata:wght@200..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.home-head{
    width: 100%;
    height: 450px;
    border: 1px solid rgba(128, 128, 128, 0.884);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}
.home{
    margin: 170px 0px 0px 100px;
    width: 390px;
    height: 100vh;

}
hr{
    width: 100px;
    height: 2px;
    margin-top:15px;
    margin-left: 10px;
}
span{
    margin-left: 10px;

}

.home1,.home3{
    display: flex;
    font-size: 25px;
    color:rgba(0, 0, 0, 0.808);
}
.home2 h1{
    font-size:50px;
    margin: 20px auto;
    color: rgb(99, 98, 98);
    font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}