@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.App{
    width: 83%;
    height:100vh;
    margin: 20px auto;
    
    text-decoration: none;
}
